body{
    text-align:center;
    background-color:aqua;
    font-family:'Playball';
    color:black;
}

#list-pesan {
    text-align:left;
}

div .expand {
    background-color:blue;
    border:2px solid black;
    cursor:pointer;
    color:white;
}

.hiddentext {
    background-color:white;
    color:black;
}