<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <title>Landing Page</title>
        <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
        <link href='https://fonts.googleapis.com/css?family=Playball' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Spicy Rice' rel='stylesheet'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src='{% static "/js/script.js" %}'></script>
        <link rel='stylesheet' href='{% static "css/style.css" %}' type='text/css'>
    </head>

    <body>
        <div>
            <button id='tombolA' class='btn btn-info'>
                Tema A
            </button>
            <button id='tombolB' class='btn btn-info'>
                Tema B
            </button>
        </div>

        <div class='row'>
            <div class='col-sm-7'>
                <h1>Hello, Apa Kabar?</h1>
                <form method='POST' class='post-form'>
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type='submit' class = 'save btn btn-primary'>
                        Submit
                    </button>
                </form>
                <h1>Status</h1>
                <div id='list-pesan'>
                    {% for pesan in message_list %}
                    <h5>{{ pesan.message }}</h5>
                    <p>{{pesan.date}}</p>
                    {% endfor %}
                </div>
            </div>

            <div class='col-sm-5'>
                <div>
                    <h5 class='expand'>Aktivitas Saat Ini</h5>
                    <p class='hiddentext'>Kuliah<br>
                        Doang</p>
                </div>
                <div>
                    <h5 class='expand'>Pengalaman Organisasi/Kepanitiaan</h5>
                    <p class='hiddentext'>Futsal SMA<br>
                        CSTTC<br>
                        UITTC</p>
                </div>
                <div>
                    <h5 class='expand'>Prestasi</h5>
                    <p class='hiddentext'>Prestasiku<br>
                        Tidak ada</p>
                </div>
            </div>
        </div>
    </body>
</html>